body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.container {
    padding: 20px;
}

.header h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
    margin: 0;
    color: #ff69b4; /* Color rosa */
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.love-message {
    font-family: 'Brush Script MT', cursive;
    font-size: 2.5em;
    margin: 10px 0;
    color: #ff0000; /* Rosa fuerte */
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

h2 {
    font-family: 'Dancing Script', cursive;
    font-size: 1em;
    margin: 10px 0;
    color: #fff; /* Mismo color que el mensaje */
}


.media {
    margin: 20px 0;
}

.frame {
    display: inline-block;
    padding: 10px;
    border: 10px solid #ff1493; /* Color rosa profundo */
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

    .frame img, .frame video {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 40px;
    height: 40px;
    background: url('img/heart.png') no-repeat center center;
    background-size: cover;
    animation: float 5s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(100vh);
    }

    100% {
        transform: translateY(-10vh);
    }
}
